<section class="form-section">
  <div class="text">
    <h3>Fique por dentro de tendências</h3>
    <p>
      Em um mundo em constante evolução, adaptar-se é essencial. Com uma
      abordagem proativa e uma mente aberta para novas oportunidades, podemos
      transformar desafios em conquistas. Cada passo nos leva mais perto de
      nossos objetivos, enquanto aprendemos e crescemos ao longo do caminho.
      Vamos abraçar o desconhecido com confiança e determinação, confiantes de
      que nosso potencial é ilimitado. Juntos, podemos alcançar grandes feitos e
      inspirar mudanças positivas ao nosso redor.
    </p>
  </div>
  <form>
    <label for="name">Name</label>
    <input id="name" />
    <label for="email">E-mail</label>
    <input id="email" />
    <app-button-contact
      btn-text="se inscreva"
      variant="secondary"
    ></app-button-contact>
  </form>
</section>
