<app-app-header> </app-app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span> REAL MADRID </span>
      <h1>O melhor time do mundo</h1>
    </div>
    <img
      ngSrc="/assets/principal.jpg"
      width="559"
      height="439"
      class="border-img"
    />
  </section>

  <section class="description-section">
    <div class="description-data">
      <h2>O Real Madrid</h2>
      <p>
        Continua a ser uma potência no mundo do futebol, mantendo sua tradição
        de excelência e conquistas. Com uma combinação de talentos jovens e
        jogadores experientes, o clube mantém sua busca incessante por títulos e
        glória. Sob a liderança de um novo treinador e com uma equipe
        comprometida e determinada, o <b>Real Madrid</b> segue em busca de
        vitórias tanto na liga doméstica quanto nas competições europeias. Os
        torcedores continuam a apoiar fervorosamente o clube, vibrando a cada
        gol e celebrando cada conquista, enquanto o legado glorioso do Real
        Madrid continua a ser escrito nos anais do futebol mundial.
        <b>¡Hala Madrid!</b> 🏆⚽
      </p>
    </div>
    <app-button-contact
      btn-text="Saiba mais"
      variant="primary"
    ></app-button-contact>
  </section>
</main>
